In [12]:
import pandas as pd

In [2]:
!git clone https://github.com/arnavd2001/iiitb_cnn.git

Cloning into 'iiitb_cnn'...
remote: Enumerating objects: 121, done.
remote: Counting objects: 100% (121/121), done.
remote: Compressing objects: 100% (99/99), done.
remote: Total 121 (delta 43), reused 61 (delta 13), pack-reused 0
Receiving objects: 100% (121/121), 14.96 MiB | 20.58 MiB/s, done.
Resolving deltas: 100% (43/43), done.

So now lets see the Operations that we're doing since we generated the CSV for the 1 Class

In [14]:
data1 = pd.read_csv('/content/iiitb_cnn/layerwise CSV for SSIM and ORB data of Image 1/results_layer1.csv')
data2 = pd.read_csv('/content/iiitb_cnn/layerwise CSV for SSIM and ORB data of Image 1/results_layer2.csv')
data3 = pd.read_csv('/content/iiitb_cnn/layerwise CSV for SSIM and ORB data of Image 1/results_layer3.csv')
data4 = pd.read_csv('/content/iiitb_cnn/layerwise CSV for SSIM and ORB data of Image 1/results_layer4.csv')
data5 = pd.read_csv('/content/iiitb_cnn/layerwise CSV for SSIM and ORB data of Image 1/results_layer5.csv')

In [15]:
v11 = data1['Files Compared'].tolist()
v12 = data1['ORB'].tolist()
v13 = data1['SSIM'].tolist()
v21 = data2['Files Compared'].tolist()
v22 = data2['ORB'].tolist()
v23 = data2['SSIM'].tolist()
v31 = data3['Files Compared'].tolist()
v32 = data3['ORB'].tolist()
v33 = data3['SSIM'].tolist()
v41 = data4['Files Compared'].tolist()
v42 = data4['ORB'].tolist()
v43 = data4['SSIM'].tolist()
v51 = data5['Files Compared'].tolist()
v52 = data5['ORB'].tolist()
v53 = data5['SSIM'].tolist()

In [18]:
data1.describe()

               ORB         SSIM
count  2016.000000  2016.000000
mean      0.959264     0.844007
std       0.115528     0.107757
min       0.267442     0.546383
25%       0.985973     0.768834
50%       0.995736     0.862915
75%       1.000000     0.934990
max       1.000000     0.993616